*{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    color: whitesmoke;
}

.b-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
